h1{

    color: rgb(245, 247, 249);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img{

    width: 300px;

    height: 300px;

    margin-right: 10px;

    border-radius: 90%;

}

.column {

    float: left;

    width: 33.33%;

    padding: 5px;

  }

  .na {

    float: none;

    width: 100%;

  }

   

  .skill{

    background-color:grey;

  }

  .topnav{

    background-color: blueviolet;

    color:black;

    padding:15px;

    text-decoration: none;

 

  }

  body{

    background-color: rgb(4, 4, 4);

  }

  .header{

   

    color:#04AA6D;

    width:110%;

    height:90px;

    margin-bottom: 70px;

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;

}